<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('_link.ejs') %>
    <title>Dashboard</title>
</head>

<body>
  <%- include('_navbarlogin.ejs') %>

    <div style="margin-top: 30px; margin-left: 550px; margin-bottom: 30px;">
      <a href="/dashboard/addCourse"><button class="btn btn-outline btn-wide">Add Course</button></a>
    </div>

    
    <div class="overflow-x-auto w-full px-10">
      <table class="table w-full">
        <!-- head -->
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <% courses.forEach(el=> { %>
            <tr>
              <td>
                <div class="flex items-center space-x-3">
                  <div class="avatar">
                    <div class="mask mask-squircle w-12 h-12">
                      <img src="<%= el.imageUrl %>" alt="Avatar Tailwind CSS Component" />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold"><%= el.courseName %></div>
                    <div class="text-sm opacity-50">Offline/Remote</div>
                  </div>
                </div>
              </td>
              <td>
                <%= el.category %>
                <br/>
                <span class="badge badge-ghost badge-sm">Duration: 10 year like a Steve Jobs so you can get the Jobs as a "Fullstack Brain"</span>
              </td>
              <td><%= moneyFormattedIdr(el.price) %></td>
              <td>
                <div class="card-actions justify-end">
                  <a href="/dashboard/edit/<%= el.id %>"><button class="btn btn-outline-secondary btn-xs">Edit</button></a>
                </div>
                <div class="card-actions justify-end">
                  <a href="/dashboard/delete/<%= el.id %>"><button class="btn btn-outline-secondary btn-xs">Delete</button></a>
                </div>
              </td>
            </tr>
            <% }) %>
            <!-- row 2 -->
            
        </table>
      </div>
      

</body>

</html>