<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('_link.ejs') %>
        <title>Document</title>
</head>

<body>
    <%- include('_navbar.ejs') %>

    <div style="margin-top: 50px; margin-left: 550px;">
        <form class="container" action="/dashboard/edit/<%= courses.id %>" method="post">
                
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">Course Name</span>
                    </label>
                    <input type="text" placeholder="Type here" name="courseName"
                        class="input input-bordered w-full max-w-xs" value="<%= courses.courseName %>" />
                    <label class="label">
                    </label>
                </div>
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">Category</span>
                    </label>
                    <select name="category" class="select select-bordered" value="<%= courses.category %>">
                        <!-- <option disabled selected>Pick one</option> -->
                        <option value="Basic">Basic</option>
                        <option value="Intermediated">Intermediate</option>
                        <option value="Advance">Advance</option>
                    </select>
                </div>
                <br>
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">Price</span>
                    </label>
                    <input type="number" placeholder="Type here" name="price"
                        class="input input-bordered w-full max-w-xs" value="<%= courses.price %>" />
                    <label class="label">
                    </label>
                </div>
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">Image URL</span>
                    </label>
                    <input type="text" placeholder="Type here" name="imageUrl"
                        class="input input-bordered w-full max-w-xs" value="<%= courses.imageUrl %>"/>
                    <label class="label">
                    </label>
                </div>
                <div>
                    <button type="submit" value="Add" class="btn btn-outline-secondary">Edit Course</button>
                </div>

            </form>
        </div>

</body>

</html>